workflows/ai_analyze_analyze_cortex_manual.json
{
  "documentation": {
    "description": "AI workflow that analyzes data/processes using cortex, manual, triggered via manual",
    "category": "AI",
    "business_function": "analyze",
    "key_integrations": [
      "cortex",
      "manual"
    ],
    "suggested_filename": "ai_analyze_analyze_cortex_manual.json",
    "business_value": "Leverages artificial intelligence to enhance decision-making and automate intelligent processes by connecting cortex, manual. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 5,
    "total_nodes": 3,
    "metadata_added": "2025-06-01T14:03:47.249811",
    "original_filename": "160_Analyze_a_URL_and_get_the_job_details_using_the_Cortex_node.json"
  },
  "id": "160",
  "name": "Analyze a URL and get the job details using the Cortex node",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        370,
        220
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Cortex",
      "type": "n8n-nodes-base.cortex",
      "position": [
        570,
        220
      ],
      "parameters": {
        "analyzer": "f4abc1b633b80f45af165970793fd4fd::Abuse_Finder_3_0",
        "observableType": "url",
        "observableValue": "https://n8n.io",
        "additionalFields": {}
      },
      "credentials": {
        "cortexApi": "cortex"
      },
      "typeVersion": 1
    },
    {
      "name": "Cortex1",
      "type": "n8n-nodes-base.cortex",
      "position": [
        770,
        220
      ],
      "parameters": {
        "jobId": "={{$node[\"Cortex\"].json[\"_id\"]}}",
        "resource": "job"
      },
      "credentials": {
        "cortexApi": "cortex"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cortex": {
      "main": [
        [
          {
            "node": "Cortex1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Cortex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}