workflows/ai_daily_ai_process_lingvanex_httprequest_cron.json
{
  "documentation": {
    "description": "AI workflow that ai_processs data/processes using lingvanex, httprequest, telegram, triggered via cron",
    "category": "AI",
    "business_function": "ai_process",
    "key_integrations": [
      "lingvanex",
      "httprequest",
      "telegram"
    ],
    "suggested_filename": "ai_daily_ai_process_lingvanex_httprequest_cron.json",
    "business_value": "Leverages artificial intelligence to enhance decision-making and automate intelligent processes by connecting lingvanex, httprequest, telegram. This is a streamlined workflow for efficient automation",
    "trigger_type": "cron",
    "complexity_score": 8,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:46.305403",
    "original_filename": "3_Daily_poems_in_Telegram.json"
  },
  "id": "3",
  "name": "Daily poems in Telegram",
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        -250,
        400
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 10
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        350,
        400
      ],
      "parameters": {
        "text": "=✒️ Poem of the day:\n{{$node[\"HTTP Request\"].json[\"0\"][\"title\"]}} by {{$node[\"HTTP Request\"].json[\"0\"][\"poet\"][\"name\"]}}\n\n{{$node[\"HTTP Request\"].json[\"0\"][\"content\"]}}\n☁️",
        "chatId": "123456789",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "telegram_bot"
      },
      "typeVersion": 1
    },
    {
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -50,
        400
      ],
      "parameters": {
        "url": "https://www.poemist.com/api/v1/randompoems",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "LingvaNex",
      "type": "n8n-nodes-base.lingvaNex",
      "position": [
        150,
        400
      ],
      "parameters": {
        "text": "={{$node[\"HTTP Request\"].json[\"0\"][\"content\"]}}",
        "options": {},
        "translateTo": "en_GB"
      },
      "credentials": {
        "lingvaNexApi": "lingvanex_API"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LingvaNex": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "LingvaNex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}