workflows/ai_logo_ai_process_airtable_manual.json
{
  "documentation": {
    "description": "AI workflow that ai_processs data/processes using airtable, manual, brandfetch, triggered via manual",
    "category": "AI",
    "business_function": "ai_process",
    "key_integrations": [
      "airtable",
      "manual",
      "brandfetch"
    ],
    "suggested_filename": "ai_logo_ai_process_airtable_manual.json",
    "business_value": "Leverages artificial intelligence to enhance decision-making and automate intelligent processes by connecting airtable, manual, brandfetch. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 9,
    "total_nodes": 5,
    "metadata_added": "2025-06-01T14:03:45.823877",
    "original_filename": "176_Get_the_logo,_icon,_and_information_of_a_company_and_store_it_in_Airtable.json"
  },
  "id": "176",
  "name": "Get the logo, icon, and information of a company and store it in Airtable",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Brandfetch",
      "type": "n8n-nodes-base.Brandfetch",
      "position": [
        450,
        300
      ],
      "parameters": {
        "domain": "n8n.io"
      },
      "credentials": {
        "brandfetchApi": "Brandfetch n8n credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Brandfetch1",
      "type": "n8n-nodes-base.Brandfetch",
      "position": [
        650,
        300
      ],
      "parameters": {
        "domain": "={{$node[\"Brandfetch\"].parameter[\"domain\"]}}",
        "operation": "company"
      },
      "credentials": {
        "brandfetchApi": "Brandfetch n8n credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        850,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$node[\"Brandfetch1\"].json[\"name\"]}}"
            },
            {
              "name": "Icon URL",
              "value": "={{$node[\"Brandfetch\"].json[\"icon\"][\"image\"]}}"
            },
            {
              "name": "Logo URL",
              "value": "={{$node[\"Brandfetch\"].json[\"logo\"][\"image\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1050,
        300
      ],
      "parameters": {
        "table": "Table 1",
        "options": {},
        "operation": "append",
        "application": "app5cseR9ZKgtU3dc"
      },
      "credentials": {
        "airtableApi": "Airtable Credentials n8n"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brandfetch": {
      "main": [
        [
          {
            "node": "Brandfetch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brandfetch1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Brandfetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}