workflows/ai_send_ai_process_openweathermap_vonage_cron.json
{
  "documentation": {
    "description": "AI workflow that ai_processs data/processes using openweathermap, vonage, cron, triggered via cron",
    "category": "AI",
    "business_function": "ai_process",
    "key_integrations": [
      "openweathermap",
      "vonage",
      "cron"
    ],
    "suggested_filename": "ai_send_ai_process_openweathermap_vonage_cron.json",
    "business_value": "Leverages artificial intelligence to enhance decision-making and automate intelligent processes by connecting openweathermap, vonage, cron. This is a streamlined workflow for efficient automation",
    "trigger_type": "cron",
    "complexity_score": 6,
    "total_nodes": 3,
    "metadata_added": "2025-06-01T14:03:47.000560",
    "original_filename": "84_Send_daily_weather_updates_to_a_phone_number_using_the_Vonage_node.json"
  },
  "id": "84",
  "name": "Send daily weather updates to a phone number using the Vonage node",
  "nodes": [
    {
      "name": "Vonage",
      "type": "n8n-nodes-base.vonage",
      "position": [
        770,
        260
      ],
      "parameters": {
        "to": "1234",
        "from": "Vonage APIs",
        "message": "=Hey! The temperature outside is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}°C.",
        "additionalFields": {}
      },
      "credentials": {
        "vonageApi": "vonage"
      },
      "typeVersion": 1
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        370,
        260
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        570,
        260
      ],
      "parameters": {
        "cityName": "berlin"
      },
      "credentials": {
        "openWeatherMapApi": "owm"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Vonage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}