workflows/ai_send_ai_process_openweathermap_spontit_cron.json
{
  "documentation": {
    "description": "AI workflow that ai_processs data/processes using openweathermap, spontit, cron, triggered via cron",
    "category": "AI",
    "business_function": "ai_process",
    "key_integrations": [
      "openweathermap",
      "spontit",
      "cron"
    ],
    "suggested_filename": "ai_send_ai_process_openweathermap_spontit_cron.json",
    "business_value": "Leverages artificial intelligence to enhance decision-making and automate intelligent processes by connecting openweathermap, spontit, cron. This is a streamlined workflow for efficient automation",
    "trigger_type": "cron",
    "complexity_score": 6,
    "total_nodes": 3,
    "metadata_added": "2025-06-01T14:03:46.981376",
    "original_filename": "141_Send_daily_weather_updates_via_a_push_notification_using_Spontit.json"
  },
  "id": "141",
  "name": "Send daily weather updates via a push notification using Spontit",
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        810,
        340
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        1010,
        340
      ],
      "parameters": {
        "cityName": "berlin"
      },
      "credentials": {
        "openWeatherMapApi": "owm"
      },
      "typeVersion": 1
    },
    {
      "name": "Spontit",
      "type": "n8n-nodes-base.spontit",
      "position": [
        1210,
        340
      ],
      "parameters": {
        "content": "=Hey! The temperature outside is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}°C.",
        "additionalFields": {
          "pushTitle": "Today's Weather Update"
        }
      },
      "credentials": {
        "spontitApi": "spontit"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Spontit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}