workflows/ai_verify_ai_process_functionitem_uproc.json
{
  "documentation": {
    "description": "AI workflow that ai_processs data/processes using functionitem, uproc, manual, triggered via manual",
    "category": "AI",
    "business_function": "ai_process",
    "key_integrations": [
      "functionitem",
      "uproc",
      "manual"
    ],
    "suggested_filename": "ai_verify_ai_process_functionitem_uproc.json",
    "business_value": "Leverages artificial intelligence to enhance decision-making and automate intelligent processes by connecting functionitem, uproc, manual. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 8,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:46.749979",
    "original_filename": "103_verify_email.json"
  },
  "id": "103",
  "name": "verify email",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        440,
        510
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Create Email Item",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        640,
        510
      ],
      "parameters": {
        "functionCode": "item.email = \"mcolomer@gmail.com\";\nreturn item;"
      },
      "typeVersion": 1
    },
    {
      "name": "Check Email Exists",
      "type": "n8n-nodes-base.uproc",
      "position": [
        850,
        510
      ],
      "parameters": {
        "tool": "checkEmailExists",
        "email": "={{$node[\"Create Email Item\"].json[\"email\"]}}",
        "additionalOptions": {}
      },
      "credentials": {
        "uprocApi": "miquel-uproc"
      },
      "typeVersion": 1
    },
    {
      "name": "Email Exists?",
      "type": "n8n-nodes-base.if",
      "position": [
        1050,
        510
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Check Email Exists\"].json[\"message\"][\"response\"]}}",
              "value2": "deliverable"
            }
          ]
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Create Email Item": {
      "main": [
        [
          {
            "node": "Check Email Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Exists": {
      "main": [
        [
          {
            "node": "Email Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Create Email Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}