workflows/biz_1333_workflow_1333_automate_pipedrive_hubspot_cron.json
{
  "documentation": {
    "description": "BIZ workflow that automates data/processes using pipedrive, hubspot, cron, triggered via cron",
    "category": "BIZ",
    "business_function": "automate",
    "key_integrations": [
      "pipedrive",
      "hubspot",
      "cron"
    ],
    "suggested_filename": "biz_1333_workflow_1333_automate_pipedrive_hubspot_cron.json",
    "business_value": "Optimizes core business operations and workflows for improved efficiency by connecting pipedrive, hubspot, cron. This is a streamlined workflow for efficient automation",
    "trigger_type": "cron",
    "complexity_score": 11,
    "total_nodes": 7,
    "metadata_added": "2025-06-01T14:03:46.638939",
    "original_filename": "1333_workflow_1333.json"
  },
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        560,
        350
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Pipedrive",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        760,
        250
      ],
      "parameters": {
        "resource": "person",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {}
      },
      "credentials": {
        "pipedriveApi": {
          "id": "28",
          "name": "pipedrive_api"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Update Pipedrive",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        1160,
        250
      ],
      "parameters": {
        "name": "={{$json[\"properties\"][\"firstname\"][\"value\"]}}",
        "resource": "person",
        "additionalFields": {
          "email": [
            "={{$json[\"identity-profiles\"][0][\"identities\"][0][\"value\"]}}"
          ]
        }
      },
      "credentials": {
        "pipedriveApi": {
          "id": "28",
          "name": "pipedrive_api"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        760,
        450
      ],
      "parameters": {
        "resource": "contact",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {}
      },
      "credentials": {
        "hubspotApi": {
          "id": "21",
          "name": "hubspot_account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Update HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "position": [
        1160,
        450
      ],
      "parameters": {
        "email": "={{$json[\"email\"][0][\"value\"]}}",
        "resource": "contact",
        "additionalFields": {
          "firstName": "={{$json[\"first_name\"]}}"
        }
      },
      "credentials": {
        "hubspotApi": {
          "id": "21",
          "name": "hubspot_account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        960,
        250
      ],
      "parameters": {
        "mode": "removeKeyMatches",
        "propertyName1": "identity-profiles[0].identities[0].value",
        "propertyName2": "email[0].value"
      },
      "typeVersion": 1
    },
    {
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "position": [
        960,
        450
      ],
      "parameters": {
        "mode": "removeKeyMatches",
        "propertyName1": "email[0].value",
        "propertyName2": "identity-profiles[0].identities[0].value"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Pipedrive",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Update Pipedrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Update HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pipedrive": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}