workflows/biz_664_workflow_664_automate_manual_salesforce.json
{
  "documentation": {
    "description": "BIZ workflow that automates data/processes using manual, salesforce, triggered via manual",
    "category": "BIZ",
    "business_function": "automate",
    "key_integrations": [
      "manual",
      "salesforce"
    ],
    "suggested_filename": "biz_664_workflow_664_automate_manual_salesforce.json",
    "business_value": "Optimizes core business operations and workflows for improved efficiency by connecting manual, salesforce. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 6,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:46.865190",
    "original_filename": "664_workflow_664.json"
  },
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        420,
        260
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Salesforce",
      "type": "n8n-nodes-base.salesforce",
      "position": [
        620,
        260
      ],
      "parameters": {
        "company": "CompanyInc",
        "lastname": "DudeOne",
        "additionalFields": {}
      },
      "credentials": {
        "salesforceOAuth2Api": "salesforce_creds"
      },
      "typeVersion": 1
    },
    {
      "name": "Salesforce1",
      "type": "n8n-nodes-base.salesforce",
      "position": [
        810,
        260
      ],
      "parameters": {
        "leadId": "={{$node[\"Salesforce\"].json[\"id\"]}}",
        "operation": "update",
        "updateFields": {
          "city": "Berlin"
        }
      },
      "credentials": {
        "salesforceOAuth2Api": "salesforce_creds"
      },
      "typeVersion": 1
    },
    {
      "name": "Salesforce2",
      "type": "n8n-nodes-base.salesforce",
      "position": [
        1020,
        260
      ],
      "parameters": {
        "title": "Deal Won!",
        "leadId": "={{$node[\"Salesforce\"].json[\"id\"]}}",
        "options": {},
        "operation": "addNote"
      },
      "credentials": {
        "salesforceOAuth2Api": "salesforce_creds"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Salesforce": {
      "main": [
        [
          {
            "node": "Salesforce1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salesforce1": {
      "main": [
        [
          {
            "node": "Salesforce2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Salesforce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}