workflows/comm_2543_workflow_2543_automate_schedule_wordpress_cron.json
{
  "documentation": {
    "description": "COMM workflow that automates data/processes using schedule, wordpress, slack, triggered via cron",
    "category": "COMM",
    "business_function": "automate",
    "key_integrations": [
      "schedule",
      "wordpress",
      "slack"
    ],
    "suggested_filename": "comm_2543_workflow_2543_automate_schedule_wordpress_cron.json",
    "business_value": "Streamlines communication workflows to improve team collaboration and customer engagement by connecting schedule, wordpress, slack. This is a streamlined workflow for efficient automation",
    "trigger_type": "cron",
    "complexity_score": 8,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:46.665491",
    "original_filename": "2543_workflow_2543.json"
  },
  "nodes": [
    {
      "name": "Zoom",
      "type": "n8n-nodes-base.zoom",
      "position": [
        1340,
        580
      ],
      "parameters": {
        "topic": "New Meeting",
        "authentication": "oAuth2",
        "additionalFields": {
          "type": 3,
          "settings": {
            "muteUponEntry": true,
            "joinBeforeHost": true,
            "participantVideo": true
          },
          "timeZone": "America/New_York"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "notes": "Cron trigger to reset zoom meeting on the auto-redirect link",
      "position": [
        1120,
        580
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 360,
              "triggerAtHour": 3
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        1560,
        580
      ],
      "parameters": {
        "pageId": "123 (Create a page in WP, copy the ID of the page, paste it here)",
        "resource": "page",
        "operation": "update",
        "updateFields": {
          "content": "=\n<meta http-equiv=\"refresh\" content=\"0;{{ $json.join_url }}\">\n<p>Redirecting, please wait a moment. Meeting will begin shortly&#8230;</p>"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1780,
        580
      ],
      "parameters": {
        "text": "=Zoom recurring meeting updated!\n{{ $('Zoom').item.json.join_url }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "abc123",
          "cachedResultName": "my-slack-channel"
        },
        "otherOptions": {
          "includeLinkToWorkflow": true
        }
      },
      "typeVersion": 2.2
    }
  ],
  "pinData": {},
  "connections": {
    "Zoom": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Zoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}