workflows/comm_4_workflow_4_automate_slack_github.json
{
  "documentation": {
    "description": "COMM workflow that automates data/processes using slack, github, triggered via manual",
    "category": "COMM",
    "business_function": "automate",
    "key_integrations": [
      "slack",
      "github"
    ],
    "suggested_filename": "comm_4_workflow_4_automate_slack_github.json",
    "business_value": "Streamlines communication workflows to improve team collaboration and customer engagement by connecting slack, github. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 7,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:45.837233",
    "original_filename": "4_workflow_4.json"
  },
  "nodes": [
    {
      "name": "Github Trigger",
      "type": "n8n-nodes-base.githubTrigger",
      "position": [
        500,
        350
      ],
      "parameters": {
        "owner": "n8n-io",
        "events": [
          "star"
        ],
        "repository": "n8n"
      },
      "credentials": {
        "githubApi": ""
      },
      "typeVersion": 1
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        700,
        350
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Github Trigger\"].data[\"body\"][\"action\"]}}",
              "value2": "created"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Slack - Add",
      "type": "n8n-nodes-base.slack",
      "position": [
        900,
        250
      ],
      "parameters": {
        "channel": "#general",
        "attachments": [
          {
            "text": "=The project has now: {{$node[\"Github Trigger\"].data[\"body\"][\"repository\"][\"stargazers_count\"]}} Stars",
            "color": "#88FF00",
            "title": "=Got new star from: {{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"login\"]}}",
            "image_url": "={{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"avatar_url\"]}}",
            "title_link": "={{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"html_url\"]}}"
          }
        ],
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": ""
      },
      "typeVersion": 1
    },
    {
      "name": "Slack - Remove",
      "type": "n8n-nodes-base.slack",
      "position": [
        900,
        450
      ],
      "parameters": {
        "channel": "#general",
        "attachments": [
          {
            "text": "=The project has now: {{$node[\"Github Trigger\"].data[\"body\"][\"repository\"][\"stargazers_count\"]}} Stars",
            "color": "#ff0000",
            "title": "=Star got removed by: {{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"login\"]}}",
            "image_url": "={{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"avatar_url\"]}}",
            "title_link": "={{$node[\"Github Trigger\"].data[\"body\"][\"sender\"][\"html_url\"]}}"
          }
        ],
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": ""
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Slack - Add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack - Remove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}