workflows/comm_772_workflow_772_automate_splitinbatches_manual.json
{
  "documentation": {
    "description": "COMM workflow that automates data/processes using splitinbatches, manual, telegram, triggered via manual",
    "category": "COMM",
    "business_function": "automate",
    "key_integrations": [
      "splitinbatches",
      "manual",
      "telegram"
    ],
    "suggested_filename": "comm_772_workflow_772_automate_splitinbatches_manual.json",
    "business_value": "Streamlines communication workflows to improve team collaboration and customer engagement by connecting splitinbatches, manual, telegram. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 10,
    "total_nodes": 5,
    "metadata_added": "2025-06-01T14:03:46.935568",
    "original_filename": "772_workflow_772.json"
  },
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -60,
        400
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        500,
        400
      ],
      "parameters": {
        "text": "Hello",
        "chatId": "={{$node[\"SplitInBatches\"].json[\"Chat ID\"]}}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": null,
          "name": "telegram-bot"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        120,
        400
      ],
      "parameters": {
        "range": "A:A",
        "options": {},
        "authentication": "oAuth2"
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": null,
          "name": "google-sheet"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        320,
        400
      ],
      "parameters": {
        "options": {},
        "batchSize": 30
      },
      "typeVersion": 1
    },
    {
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "position": [
        660,
        180
      ],
      "webhookId": "22fca54c-eac4-44bc-adf7-68b33818695c",
      "parameters": {
        "unit": "seconds",
        "amount": 30
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Wait1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}