workflows/comm_create_create_manual_mattermost.json
{
  "documentation": {
    "description": "COMM workflow that creates data/processes using manual, mattermost, triggered via manual",
    "category": "COMM",
    "business_function": "create",
    "key_integrations": [
      "manual",
      "mattermost"
    ],
    "suggested_filename": "comm_create_create_manual_mattermost.json",
    "business_value": "Streamlines communication workflows to improve team collaboration and customer engagement by connecting manual, mattermost. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 6,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:46.139770",
    "original_filename": "178_Create_a_channel,_add_a_member,_and_post_a_message_to_the_channel.json"
  },
  "id": "178",
  "name": "Create a channel, add a member, and post a message to the channel",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        270,
        340
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Mattermost",
      "type": "n8n-nodes-base.mattermost",
      "position": [
        470,
        340
      ],
      "parameters": {
        "teamId": "4zhpirmh97fn7jgp7qhyue5a6e",
        "channel": "docs",
        "resource": "channel",
        "displayName": "Docs"
      },
      "credentials": {
        "mattermostApi": "Mattermost Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Mattermost1",
      "type": "n8n-nodes-base.mattermost",
      "position": [
        670,
        340
      ],
      "parameters": {
        "userId": "5oiy71hukjgd9eprj1o4a3poio",
        "resource": "channel",
        "channelId": "={{$node[\"Mattermost\"].json[\"id\"]}}",
        "operation": "addUser"
      },
      "credentials": {
        "mattermostApi": "Mattermost Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Mattermost2",
      "type": "n8n-nodes-base.mattermost",
      "position": [
        870,
        340
      ],
      "parameters": {
        "message": "Hey! Welcome to the channel!",
        "channelId": "={{$node[\"Mattermost\"].json[\"id\"]}}",
        "attachments": [],
        "otherOptions": {}
      },
      "credentials": {
        "mattermostApi": "Mattermost Credentials"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Mattermost": {
      "main": [
        [
          {
            "node": "Mattermost1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mattermost1": {
      "main": [
        [
          {
            "node": "Mattermost2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}