workflows/content_create_create_wordpress_manual.json
{
  "documentation": {
    "description": "CONTENT workflow that creates data/processes using wordpress, manual, triggered via manual",
    "category": "CONTENT",
    "business_function": "create",
    "key_integrations": [
      "wordpress",
      "manual"
    ],
    "suggested_filename": "content_create_create_wordpress_manual.json",
    "business_value": "Automates content creation, management, and distribution processes by connecting wordpress, manual. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 5,
    "total_nodes": 3,
    "metadata_added": "2025-06-01T14:03:47.377104",
    "original_filename": "60_Create_a_post_and_update_the_post_in_WordPress.json"
  },
  "id": "60",
  "name": "Create a post and update the post in WordPress",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        570,
        260
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Wordpress",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        770,
        260
      ],
      "parameters": {
        "title": "created from n8n",
        "additionalFields": {}
      },
      "credentials": {
        "wordpressApi": "wordpress"
      },
      "typeVersion": 1
    },
    {
      "name": "Wordpress1",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        970,
        260
      ],
      "parameters": {
        "postId": "={{$node[\"Wordpress\"].json[\"id\"]}}",
        "operation": "update",
        "updateFields": {
          "content": "This post was created using the n8n workflow."
        }
      },
      "credentials": {
        "wordpressApi": "wordpress"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Wordpress": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}