workflows/content_create_create_manual_strapi.json
{
  "documentation": {
    "description": "CONTENT workflow that creates data/processes using manual, strapi, triggered via manual",
    "category": "CONTENT",
    "business_function": "create",
    "key_integrations": [
      "manual",
      "strapi"
    ],
    "suggested_filename": "content_create_create_manual_strapi.json",
    "business_value": "Automates content creation, management, and distribution processes by connecting manual, strapi. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 9,
    "total_nodes": 6,
    "metadata_added": "2025-06-01T14:03:46.513299",
    "original_filename": "119_Create,_update,_and_get_an_entry_in_Strapi.json"
  },
  "id": "119",
  "name": "Create, update, and get an entry in Strapi",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Strapi",
      "type": "n8n-nodes-base.strapi",
      "position": [
        650,
        300
      ],
      "parameters": {
        "columns": "Title, Content, Description",
        "operation": "create",
        "contentType": "posts"
      },
      "credentials": {
        "strapiApi": "strapi"
      },
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        450,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Title",
              "value": "Automate Strapi with n8n"
            },
            {
              "name": "Content",
              "value": "Strapi is a headless CMS. We will use Strapi and n8n to automate our content creation workflows."
            },
            {
              "name": "Description",
              "value": "Learn how to automate Strapi with n8n."
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "Strapi1",
      "type": "n8n-nodes-base.strapi",
      "position": [
        1050,
        300
      ],
      "parameters": {
        "columns": "slug",
        "operation": "update",
        "contentType": "={{$node[\"Strapi\"].parameter[\"contentType\"]}}"
      },
      "credentials": {
        "strapiApi": "strapi"
      },
      "typeVersion": 1
    },
    {
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "position": [
        850,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{$node[\"Strapi\"].json[\"id\"]}}"
            },
            {
              "name": "slug",
              "value": "automate-strapi-with-n8n"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Strapi2",
      "type": "n8n-nodes-base.strapi",
      "position": [
        1250,
        300
      ],
      "parameters": {
        "entryId": "={{$node[\"Strapi1\"].json[\"id\"]}}",
        "contentType": "={{$node[\"Strapi\"].parameter[\"contentType\"]}}"
      },
      "credentials": {
        "strapiApi": "strapi"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Strapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Strapi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strapi": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strapi1": {
      "main": [
        [
          {
            "node": "Strapi2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}