workflows/data_create_create_snowflake_manual.json
{
  "documentation": {
    "description": "DATA workflow that creates data/processes using snowflake, manual, triggered via manual",
    "category": "DATA",
    "business_function": "create",
    "key_integrations": [
      "snowflake",
      "manual"
    ],
    "suggested_filename": "data_create_create_snowflake_manual.json",
    "business_value": "Automates data processing, transformation, and synchronization across systems by connecting snowflake, manual. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 9,
    "total_nodes": 6,
    "metadata_added": "2025-06-01T14:03:45.864811",
    "original_filename": "172_Create_a_table,_and_insert_and_update_data_in_the_table_in_Snowflake.json"
  },
  "id": "172",
  "name": "Create a table, and insert and update data in the table in Snowflake",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        650,
        300
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "id",
              "value": 1
            }
          ],
          "string": [
            {
              "name": "name",
              "value": "n8n"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Snowflake",
      "type": "n8n-nodes-base.snowflake",
      "position": [
        450,
        300
      ],
      "parameters": {
        "query": "CREATE TABLE docs (id INT, name STRING);",
        "operation": "executeQuery"
      },
      "credentials": {
        "snowflake": "Snowflake n8n Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Snowflake1",
      "type": "n8n-nodes-base.snowflake",
      "position": [
        850,
        300
      ],
      "parameters": {
        "table": "docs",
        "columns": "id, name"
      },
      "credentials": {
        "snowflake": "Snowflake n8n Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "position": [
        1050,
        300
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "id",
              "value": 1
            }
          ],
          "string": [
            {
              "name": "name",
              "value": "nodemation"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Snowflake2",
      "type": "n8n-nodes-base.snowflake",
      "position": [
        1250,
        300
      ],
      "parameters": {
        "table": "={{$node[\"Snowflake1\"].parameter[\"table\"]}}",
        "columns": "name",
        "operation": "update"
      },
      "credentials": {
        "snowflake": "Snowflake n8n Credentials"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Snowflake1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Snowflake2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snowflake": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snowflake1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Snowflake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}