workflows/data_create_create_task_spreadsheetfile_onfleet.json
{
  "documentation": {
    "description": "DATA workflow that create_tasks data/processes using spreadsheetfile, onfleet, readbinaryfile, triggered via manual",
    "category": "DATA",
    "business_function": "create_task",
    "key_integrations": [
      "spreadsheetfile",
      "onfleet",
      "readbinaryfile"
    ],
    "suggested_filename": "data_create_create_task_spreadsheetfile_onfleet.json",
    "business_value": "Automates data processing, transformation, and synchronization across systems by connecting spreadsheetfile, onfleet, readbinaryfile. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 6,
    "total_nodes": 3,
    "metadata_added": "2025-06-01T14:03:46.295176",
    "original_filename": "12_Create_Onfleet_tasks_from_Spreadsheets.json"
  },
  "id": 12,
  "name": "Create Onfleet tasks from Spreadsheets",
  "nodes": [
    {
      "name": "Onfleet",
      "type": "n8n-nodes-base.onfleet",
      "position": [
        900,
        280
      ],
      "parameters": {
        "operation": "create",
        "destination": {
          "destinationProperties": {
            "address": "={{$json[\"Address_Line1\"]}}, {{$json[\"Address_Line2\"]}}, {{$json[\"City/Town\"]}} {{$json[\"State/Province\"]}}, {{$json[\"Country\"]}}, {{$json[\"Postal_Code\"]}}",
            "unparsed": true,
            "addressNotes": "=",
            "addressApartment": "={{$json[\"Address_Line2\"]}}"
          }
        },
        "additionalFields": {
          "notes": "={{$json[\"Task_Details\"]}}",
          "recipient": {
            "recipientProperties": {
              "recipientName": "={{$json[\"Recipient_Name\"]}}",
              "recipientNotes": "={{$json[\"Recipient_Notes\"]}}",
              "recipientPhone": "=+1{{$json[\"Recipient_Phone\"]}}"
            }
          }
        }
      },
      "credentials": {
        "onfleetApi": {
          "id": "2",
          "name": "Onfleet API Key"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        500,
        280
      ],
      "parameters": {
        "filePath": "=/Users/jamesli/Downloads/Onfleet Import Google Sheet.xlsx"
      },
      "typeVersion": 1
    },
    {
      "name": "Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        700,
        280
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File1": {
      "main": [
        [
          {
            "node": "Onfleet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}