workflows/data_991_workflow_991_automate_autopilot_airtable.json
{
  "documentation": {
    "description": "DATA workflow that automates data/processes using autopilot, airtable, triggered via manual",
    "category": "DATA",
    "business_function": "automate",
    "key_integrations": [
      "autopilot",
      "airtable"
    ],
    "suggested_filename": "data_991_workflow_991_automate_autopilot_airtable.json",
    "business_value": "Automates data processing, transformation, and synchronization across systems by connecting autopilot, airtable. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 6,
    "total_nodes": 3,
    "metadata_added": "2025-06-01T14:03:46.984691",
    "original_filename": "991_workflow_991.json"
  },
  "nodes": [
    {
      "name": "Autopilot Trigger",
      "type": "n8n-nodes-base.autopilotTrigger",
      "position": [
        470,
        200
      ],
      "webhookId": "d7aa9691-49cb-4b01-8ecc-9a38fd708cf2",
      "parameters": {
        "event": "contactAdded"
      },
      "credentials": {
        "autopilotApi": "Autopilot API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        670,
        200
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "First Name",
              "value": "={{$json[\"contact\"][\"FirstName\"]}}"
            },
            {
              "name": "Last Name",
              "value": "={{$json[\"contact\"][\"LastName\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$json[\"contact\"][\"Email\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        870,
        200
      ],
      "parameters": {
        "table": "Table 1",
        "options": {},
        "operation": "append",
        "application": "appflT9EkWRGsSFM2"
      },
      "credentials": {
        "airtableApi": "Airtable Credentials n8n"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autopilot Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}