workflows/util_156_workflow_156_automate_functionitem_executecommand.json
{
  "documentation": {
    "description": "UTIL workflow that automates data/processes using functionitem, executecommand, triggered via manual",
    "category": "UTIL",
    "business_function": "automate",
    "key_integrations": [
      "functionitem",
      "executecommand"
    ],
    "suggested_filename": "util_156_workflow_156_automate_functionitem_executecommand.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting functionitem, executecommand. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 6,
    "total_nodes": 3,
    "metadata_added": "2025-06-01T14:03:46.942140",
    "original_filename": "156_workflow_156.json"
  },
  "nodes": [
    {
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        600,
        350
      ],
      "parameters": {
        "command": "echo \"{ \\\"value1\\\": true, \\\"value2\\\": 1 }\""
      },
      "typeVersion": 1
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        800,
        450
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{JSON.parse($node[\"Execute Command\"].data[\"stdout\"]).value1}}",
              "value2": true
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "To Flow Data",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        800,
        250
      ],
      "parameters": {
        "functionCode": "item = JSON.parse(item.stdout);\nreturn item;"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "To Flow Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}