workflows/util_992_workflow_992_automate_wise.json
{
  "documentation": {
    "description": "UTIL workflow that automates data/processes using wise, triggered via manual",
    "category": "UTIL",
    "business_function": "automate",
    "key_integrations": [
      "wise"
    ],
    "suggested_filename": "util_992_workflow_992_automate_wise.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting wise. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 5,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:46.010126",
    "original_filename": "992_workflow_992.json"
  },
  "nodes": [
    {
      "name": "Wise",
      "type": "n8n-nodes-base.wise",
      "position": [
        470,
        320
      ],
      "parameters": {
        "amount": 500,
        "resource": "quote",
        "operation": "create",
        "profileId": 16138858,
        "sourceCurrency": "EUR",
        "targetCurrency": "EUR",
        "targetAccountId": 147767974
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Wise1",
      "type": "n8n-nodes-base.wise",
      "position": [
        660,
        320
      ],
      "parameters": {
        "quoteId": "={{$json[\"id\"]}}",
        "resource": "transfer",
        "operation": "create",
        "profileId": 16138858,
        "targetAccountId": 147767974,
        "additionalFields": {
          "reference": "Thank you for the contribution"
        }
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Wise2",
      "type": "n8n-nodes-base.wise",
      "position": [
        870,
        320
      ],
      "parameters": {
        "resource": "transfer",
        "operation": "execute",
        "profileId": 16138858,
        "transferId": "={{$json[\"id\"]}}"
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Wise3",
      "type": "n8n-nodes-base.wise",
      "position": [
        1070,
        320
      ],
      "parameters": {
        "resource": "transfer",
        "transferId": "={{$node[\"Wise1\"].json[\"id\"]}}"
      },
      "credentials": {
        "wiseApi": "Wise API Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Wise": {
      "main": [
        [
          {
            "node": "Wise1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise1": {
      "main": [
        [
          {
            "node": "Wise2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wise2": {
      "main": [
        [
          {
            "node": "Wise3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}