workflows/util_create_create_manual_thehive.json
{
  "documentation": {
    "description": "UTIL workflow that creates data/processes using manual, thehive, triggered via manual",
    "category": "UTIL",
    "business_function": "create",
    "key_integrations": [
      "manual",
      "thehive"
    ],
    "suggested_filename": "util_create_create_manual_thehive.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting manual, thehive. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 6,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:46.092500",
    "original_filename": "159_Create,_update_and_get_a_case_in_TheHive.json"
  },
  "id": "159",
  "name": "Create, update and get a case in TheHive",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        270,
        340
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "TheHive",
      "type": "n8n-nodes-base.theHive",
      "position": [
        470,
        340
      ],
      "parameters": {
        "tags": "n8n, theHive",
        "owner": "Harshil",
        "title": "n8n",
        "options": {},
        "resource": "case",
        "severity": 1,
        "operation": "create",
        "startDate": "2020-12-03T10:08:14.000Z",
        "description": "Creating a case from n8n"
      },
      "credentials": {
        "theHiveApi": "hive"
      },
      "typeVersion": 1
    },
    {
      "name": "TheHive1",
      "type": "n8n-nodes-base.theHive",
      "position": [
        670,
        340
      ],
      "parameters": {
        "id": "={{$node[\"TheHive\"].json[\"id\"]}}",
        "resource": "case",
        "operation": "update",
        "updateFields": {
          "severity": 3
        }
      },
      "credentials": {
        "theHiveApi": "hive"
      },
      "typeVersion": 1
    },
    {
      "name": "TheHive2",
      "type": "n8n-nodes-base.theHive",
      "position": [
        870,
        340
      ],
      "parameters": {
        "id": "={{$node[\"TheHive\"].json[\"id\"]}}",
        "resource": "case",
        "operation": "get"
      },
      "credentials": {
        "theHiveApi": "hive"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "TheHive": {
      "main": [
        [
          {
            "node": "TheHive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TheHive1": {
      "main": [
        [
          {
            "node": "TheHive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "TheHive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}