workflows/util_stories_read_storyblok_manual.json
{
  "documentation": {
    "description": "UTIL workflow that reads data/processes using storyblok, manual, triggered via manual",
    "category": "UTIL",
    "business_function": "read",
    "key_integrations": [
      "storyblok",
      "manual"
    ],
    "suggested_filename": "util_stories_read_storyblok_manual.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting storyblok, manual. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 5,
    "total_nodes": 3,
    "metadata_added": "2025-06-01T14:03:46.617670",
    "original_filename": "110_Get_all_the_stories_starting_with_`release`_and_publish_them.json"
  },
  "id": "110",
  "name": "Get all the stories starting with `release` and publish them",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Storyblok",
      "type": "n8n-nodes-base.storyblok",
      "position": [
        450,
        300
      ],
      "parameters": {
        "space": 96940,
        "source": "managementApi",
        "filters": {
          "starts_with": "release"
        },
        "operation": "getAll"
      },
      "credentials": {
        "storyblokManagementApi": "storyblok-tanay"
      },
      "typeVersion": 1
    },
    {
      "name": "Storyblok1",
      "type": "n8n-nodes-base.storyblok",
      "position": [
        650,
        300
      ],
      "parameters": {
        "space": "={{$node[\"Storyblok\"].parameter[\"space\"]}}",
        "source": "managementApi",
        "options": {},
        "storyId": "={{$node[\"Storyblok\"].json[\"id\"]}}",
        "operation": "publish"
      },
      "credentials": {
        "storyblokManagementApi": "storyblok-tanay"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Storyblok": {
      "main": [
        [
          {
            "node": "Storyblok1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Storyblok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}