workflows/util_create_create_pagerduty_manual.json
{
  "documentation": {
    "description": "UTIL workflow that creates data/processes using pagerduty, manual, triggered via manual",
    "category": "UTIL",
    "business_function": "create",
    "key_integrations": [
      "pagerduty",
      "manual"
    ],
    "suggested_filename": "util_create_create_pagerduty_manual.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting pagerduty, manual. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 6,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:47.090481",
    "original_filename": "158_Create,_update,_and_get_an_incident_on_PagerDuty.json"
  },
  "id": "158",
  "name": "Create, update, and get an incident on PagerDuty",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        240,
        260
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "PagerDuty",
      "type": "n8n-nodes-base.pagerDuty",
      "position": [
        440,
        260
      ],
      "parameters": {
        "email": "",
        "title": "Firewall on Fire",
        "serviceId": "",
        "additionalFields": {}
      },
      "credentials": {
        "pagerDutyApi": ""
      },
      "typeVersion": 1
    },
    {
      "name": "PagerDuty2",
      "type": "n8n-nodes-base.pagerDuty",
      "position": [
        840,
        260
      ],
      "parameters": {
        "operation": "get",
        "incidentId": "={{$node[\"PagerDuty1\"].json[\"id\"]}}"
      },
      "credentials": {
        "pagerDutyApi": ""
      },
      "typeVersion": 1
    },
    {
      "name": "PagerDuty1",
      "type": "n8n-nodes-base.pagerDuty",
      "position": [
        640,
        260
      ],
      "parameters": {
        "email": "={{$node[\"PagerDuty\"].parameter[\"email\"]}}",
        "operation": "update",
        "incidentId": "={{$node[\"PagerDuty\"].json[\"id\"]}}",
        "updateFields": {
          "title": "Firewalls on Fire"
        }
      },
      "credentials": {
        "pagerDutyApi": ""
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "PagerDuty": {
      "main": [
        [
          {
            "node": "PagerDuty1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PagerDuty1": {
      "main": [
        [
          {
            "node": "PagerDuty2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "PagerDuty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}