workflows/util_936_workflow_936_automate_tapfiliate_manual.json
{
  "documentation": {
    "description": "UTIL workflow that automates data/processes using tapfiliate, manual, triggered via manual",
    "category": "UTIL",
    "business_function": "automate",
    "key_integrations": [
      "tapfiliate",
      "manual"
    ],
    "suggested_filename": "util_936_workflow_936_automate_tapfiliate_manual.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting tapfiliate, manual. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 6,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:47.154635",
    "original_filename": "936_workflow_936.json"
  },
  "nodes": [
    {
      "name": "Tapfiliate2",
      "type": "n8n-nodes-base.tapfiliate",
      "position": [
        870,
        300
      ],
      "parameters": {
        "resource": "programAffiliate",
        "programId": "testing-program-5",
        "affiliateId": "={{$node[\"Tapfiliate\"].json[\"id\"]}}",
        "additionalFields": {}
      },
      "credentials": {
        "tapfiliateApi": "Tapfiliate API credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Tapfiliate1",
      "type": "n8n-nodes-base.tapfiliate",
      "position": [
        670,
        300
      ],
      "parameters": {
        "resource": "affiliateMetadata",
        "metadataUi": {
          "metadataValues": [
            {
              "key": "tag",
              "value": "n8n"
            }
          ]
        },
        "affiliateId": "={{$json[\"id\"]}}"
      },
      "credentials": {
        "tapfiliateApi": "Tapfiliate API credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Tapfiliate",
      "type": "n8n-nodes-base.tapfiliate",
      "position": [
        470,
        300
      ],
      "parameters": {
        "email": "n8ndocsburner@gmail.com",
        "lastname": "Ryan",
        "firstname": "Jack",
        "additionalFields": {}
      },
      "credentials": {
        "tapfiliateApi": "Tapfiliate API credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        270,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "connections": {
    "Tapfiliate": {
      "main": [
        [
          {
            "node": "Tapfiliate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tapfiliate1": {
      "main": [
        [
          {
            "node": "Tapfiliate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Tapfiliate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}