workflows/util_119_workflow_119_automate_webhook_xml_webhook.json
{
  "documentation": {
    "description": "UTIL workflow that automates data/processes using webhook, xml, respondtowebhook, triggered via webhook",
    "category": "UTIL",
    "business_function": "automate",
    "key_integrations": [
      "webhook",
      "xml",
      "respondtowebhook"
    ],
    "suggested_filename": "util_119_workflow_119_automate_webhook_xml_webhook.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting webhook, xml, respondtowebhook. This is a streamlined workflow for efficient automation",
    "trigger_type": "webhook",
    "complexity_score": 8,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:46.360927",
    "original_filename": "119_workflow_119.json"
  },
  "meta": {
    "instanceId": "8c8c5237b8e37b006a7adce87f4369350c58e41f3ca9de16196d3197f69eabcd"
  },
  "nodes": [
    {
      "id": "302c87d4-2c92-40a0-9a77-cef4ddd7db6d",
      "name": "XML",
      "type": "n8n-nodes-base.xml",
      "position": [
        840,
        440
      ],
      "parameters": {
        "mode": "jsonToxml",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "88ba5ee7-4788-452f-9d64-bf192fe90e5f",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        660,
        440
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "number",
              "value": 1
            }
          ],
          "string": [
            {
              "name": "string",
              "value": "my text"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "id": "6cda9dc3-0fdd-4f3a-aecf-0ff0efd28c33",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1020,
        440
      ],
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "content-type",
                "value": "application/xml"
              }
            ]
          }
        },
        "respondWith": "text",
        "responseBody": "={{ $json.data }}"
      },
      "typeVersion": 1
    },
    {
      "id": "94644433-fb9b-4532-81d2-d9673eb6e15e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        480,
        440
      ],
      "webhookId": "89fb6783-adc5-4cbc-bacc-dbd7b85df403",
      "parameters": {
        "path": "test",
        "options": {},
        "responseMode": "responseNode"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}