workflows/util_935_workflow_935_automate_manual_peekalink.json
{
  "documentation": {
    "description": "UTIL workflow that automates data/processes using manual, peekalink, triggered via manual",
    "category": "UTIL",
    "business_function": "automate",
    "key_integrations": [
      "manual",
      "peekalink"
    ],
    "suggested_filename": "util_935_workflow_935_automate_manual_peekalink.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting manual, peekalink. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 9,
    "total_nodes": 5,
    "metadata_added": "2025-06-01T14:03:46.404758",
    "original_filename": "935_workflow_935.json"
  },
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        310,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Peekalink",
      "type": "n8n-nodes-base.peekalink",
      "position": [
        510,
        300
      ],
      "parameters": {
        "url": "https://n8n1.io",
        "operation": "isAvailable"
      },
      "credentials": {
        "peekalinkApi": "Peekalink API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        710,
        300
      ],
      "parameters": {
        "conditions": {
          "string": [],
          "boolean": [
            {
              "value1": "={{$json[\"isAvailable\"]}}",
              "value2": true
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Peekalink1",
      "type": "n8n-nodes-base.peekalink",
      "position": [
        910,
        200
      ],
      "parameters": {
        "url": "={{$node[\"Peekalink\"].parameter[\"url\"]}}"
      },
      "credentials": {
        "peekalinkApi": "Peekalink API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        910,
        400
      ],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Peekalink1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Peekalink": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Peekalink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}