workflows/util_934_workflow_934_automate_stackby_manual.json
{
  "documentation": {
    "description": "UTIL workflow that automates data/processes using stackby, manual, triggered via manual",
    "category": "UTIL",
    "business_function": "automate",
    "key_integrations": [
      "stackby",
      "manual"
    ],
    "suggested_filename": "util_934_workflow_934_automate_stackby_manual.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting stackby, manual. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 7,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:46.253727",
    "original_filename": "934_workflow_934.json"
  },
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        450,
        300
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "ID",
              "value": 1
            }
          ],
          "string": [
            {
              "name": "Name",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "Stackby",
      "type": "n8n-nodes-base.stackby",
      "position": [
        650,
        300
      ],
      "parameters": {
        "table": "Table 1",
        "columns": "ID, Name",
        "stackId": "stbgReRhlmmAgT2suT"
      },
      "credentials": {
        "stackbyApi": "Stackby API credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Stackby1",
      "type": "n8n-nodes-base.stackby",
      "position": [
        850,
        300
      ],
      "parameters": {
        "table": "={{$node[\"Stackby\"].parameter[\"table\"]}}",
        "stackId": "={{$node[\"Stackby\"].parameter[\"stackId\"]}}",
        "operation": "list",
        "additionalFields": {}
      },
      "credentials": {
        "stackbyApi": "Stackby API credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Stackby",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stackby": {
      "main": [
        [
          {
            "node": "Stackby1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}