workflows/util_create_create_contact_manual_automizy.json
{
  "documentation": {
    "description": "UTIL workflow that create_contacts data/processes using manual, automizy, triggered via manual",
    "category": "UTIL",
    "business_function": "create_contact",
    "key_integrations": [
      "manual",
      "automizy"
    ],
    "suggested_filename": "util_create_create_contact_manual_automizy.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting manual, automizy. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 7,
    "total_nodes": 5,
    "metadata_added": "2025-06-01T14:03:46.527370",
    "original_filename": "82_Create_a_new_list,_add_a_new_contact_to_the_list,_update_the_contact,_and_get_all_contacts_in_the_list.json"
  },
  "id": "82",
  "name": "Create a new list, add a new contact to the list, update the contact, and get all contacts in the list",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        290,
        260
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Automizy",
      "type": "n8n-nodes-base.automizy",
      "position": [
        490,
        260
      ],
      "parameters": {
        "name": "n8n-docs",
        "resource": "list"
      },
      "credentials": {
        "automizyApi": "automizy"
      },
      "typeVersion": 1
    },
    {
      "name": "Automizy1",
      "type": "n8n-nodes-base.automizy",
      "position": [
        690,
        260
      ],
      "parameters": {
        "email": "example@n8n.io",
        "listId": "={{$node[\"Automizy\"].json[\"id\"]}}",
        "additionalFields": {
          "status": "ACTIVE"
        }
      },
      "credentials": {
        "automizyApi": "automizy"
      },
      "typeVersion": 1
    },
    {
      "name": "Automizy2",
      "type": "n8n-nodes-base.automizy",
      "position": [
        890,
        260
      ],
      "parameters": {
        "email": "={{$node[\"Automizy1\"].json[\"email\"]}}",
        "operation": "update",
        "updateFields": {
          "tags": [
            "reviewer"
          ]
        }
      },
      "credentials": {
        "automizyApi": "automizy"
      },
      "typeVersion": 1
    },
    {
      "name": "Automizy3",
      "type": "n8n-nodes-base.automizy",
      "position": [
        1090,
        260
      ],
      "parameters": {
        "listId": "={{$node[\"Automizy\"].json[\"id\"]}}",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {}
      },
      "credentials": {
        "automizyApi": "automizy"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Automizy": {
      "main": [
        [
          {
            "node": "Automizy1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automizy1": {
      "main": [
        [
          {
            "node": "Automizy2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Automizy2": {
      "main": [
        [
          {
            "node": "Automizy3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Automizy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}