workflows/util_execute_automate_executecommand_cron_cron.json
{
  "documentation": {
    "description": "UTIL workflow that automates data/processes using executecommand, cron, twilio, triggered via cron",
    "category": "UTIL",
    "business_function": "automate",
    "key_integrations": [
      "executecommand",
      "cron",
      "twilio"
    ],
    "suggested_filename": "util_execute_automate_executecommand_cron_cron.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting executecommand, cron, twilio. This is a streamlined workflow for efficient automation",
    "trigger_type": "cron",
    "complexity_score": 10,
    "total_nodes": 5,
    "metadata_added": "2025-06-01T14:03:46.362811",
    "original_filename": "81_Execute_a_command_that_gives_the_hard_disk_memory_used_on_the_host_machine.json"
  },
  "id": "81",
  "name": "Execute a command that gives the hard disk memory used on the host machine",
  "nodes": [
    {
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        670,
        300
      ],
      "parameters": {
        "command": "df -k / | tail -1 | awk '{print $5}'"
      },
      "typeVersion": 1
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        470,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            },
            {
              "hour": 16
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "position": [
        870,
        300
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{parseInt($node[\"Execute Command\"].json[\"stdout\"])}}",
              "value2": 80,
              "operation": "larger"
            }
          ],
          "string": []
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Twilio",
      "type": "n8n-nodes-base.twilio",
      "position": [
        1070,
        200
      ],
      "parameters": {
        "to": "+12345",
        "from": "+123",
        "message": "=Your hard disk space is filling up fast! Your hard disk is {{$node[\"Execute Command\"].json[\"stdout\"]}} full."
      },
      "credentials": {
        "twilioApi": "twilio-credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1070,
        400
      ],
      "parameters": {},
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}