workflows/util_1068_workflow_1068_automate_filemaker_manual.json
{
  "documentation": {
    "description": "UTIL workflow that automates data/processes using filemaker, manual, triggered via manual",
    "category": "UTIL",
    "business_function": "automate",
    "key_integrations": [
      "filemaker",
      "manual"
    ],
    "suggested_filename": "util_1068_workflow_1068_automate_filemaker_manual.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting filemaker, manual. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 7,
    "total_nodes": 5,
    "metadata_added": "2025-06-01T14:03:46.782050",
    "original_filename": "1068_workflow_1068.json"
  },
  "nodes": [
    {
      "name": "FileMaker",
      "type": "n8n-nodes-base.filemaker",
      "position": [
        450,
        320
      ],
      "parameters": {
        "action": "create",
        "layout": "My Form Layout",
        "fieldsParametersUi": {
          "fields": [
            {
              "name": "first_name",
              "value": "Harshil"
            },
            {
              "name": "last_name",
              "value": "Agrawal"
            }
          ]
        }
      },
      "credentials": {
        "fileMaker": "FileMaker API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        320
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "FileMaker",
      "type": "n8n-nodes-base.filemaker",
      "position": [
        450,
        320
      ],
      "parameters": {
        "action": "create",
        "layout": "My Form Layout",
        "fieldsParametersUi": {
          "fields": [
            {
              "name": "first_name",
              "value": "Harshil"
            },
            {
              "name": "last_name",
              "value": "Agrawal"
            }
          ]
        }
      },
      "credentials": {
        "fileMaker": "FileMaker API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "FileMaker2",
      "type": "n8n-nodes-base.filemaker",
      "position": [
        650,
        320
      ],
      "parameters": {
        "modId": "={{$json[\"response\"][\"modId\"]}}",
        "recid": "={{$json[\"response\"][\"recordId\"]}}",
        "action": "edit",
        "layout": "My Form Layout",
        "fieldsParametersUi": {
          "fields": [
            {
              "name": "address_country",
              "value": "Germany"
            }
          ]
        }
      },
      "credentials": {
        "fileMaker": "FileMaker API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "FileMaker3",
      "type": "n8n-nodes-base.filemaker",
      "position": [
        850,
        320
      ],
      "parameters": {
        "recid": "={{$node[\"FileMaker\"].json[\"response\"][\"recordId\"]}}",
        "layout": "My Form Layout"
      },
      "credentials": {
        "fileMaker": "FileMaker API Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "FileMaker": {
      "main": [
        [
          {
            "node": "FileMaker2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FileMaker2": {
      "main": [
        [
          {
            "node": "FileMaker3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "FileMaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}