workflows/util_179_workflow_179_automate_spreadsheetfile_typeform.json
{
  "documentation": {
    "description": "UTIL workflow that automates data/processes using spreadsheetfile, typeform, nextcloud, triggered via manual",
    "category": "UTIL",
    "business_function": "automate",
    "key_integrations": [
      "spreadsheetfile",
      "typeform",
      "nextcloud"
    ],
    "suggested_filename": "util_179_workflow_179_automate_spreadsheetfile_typeform.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting spreadsheetfile, typeform, nextcloud. This is a streamlined workflow for efficient automation",
    "trigger_type": "manual",
    "complexity_score": 10,
    "total_nodes": 6,
    "metadata_added": "2025-06-01T14:03:45.789277",
    "original_filename": "179_workflow_179.json"
  },
  "nodes": [
    {
      "name": "Typeform Trigger",
      "type": "n8n-nodes-base.typeformTrigger",
      "position": [
        500,
        520
      ],
      "parameters": {
        "formId": ""
      },
      "credentials": {
        "typeformApi": ""
      },
      "typeVersion": 1
    },
    {
      "name": "NextCloud",
      "type": "n8n-nodes-base.nextCloud",
      "position": [
        650,
        300
      ],
      "parameters": {
        "path": "examples/Problems.xls",
        "operation": "download"
      },
      "credentials": {
        "nextCloudApi": ""
      },
      "typeVersion": 1
    },
    {
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        800,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1000,
        470
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        1150,
        470
      ],
      "parameters": {
        "operation": "toFile"
      },
      "typeVersion": 1
    },
    {
      "name": "NextCloud1",
      "type": "n8n-nodes-base.nextCloud",
      "position": [
        1300,
        470
      ],
      "parameters": {
        "path": "={{$node[\"NextCloud\"].parameter[\"path\"]}}",
        "binaryDataUpload": true
      },
      "credentials": {
        "nextCloudApi": ""
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NextCloud": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Spreadsheet File1": {
      "main": [
        [
          {
            "node": "NextCloud1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}