workflows/util_1069_workflow_1069_automate_mqtt_httprequest_cron.json
{
  "documentation": {
    "description": "UTIL workflow that automates data/processes using mqtt, httprequest, cron, triggered via cron",
    "category": "UTIL",
    "business_function": "automate",
    "key_integrations": [
      "mqtt",
      "httprequest",
      "cron"
    ],
    "suggested_filename": "util_1069_workflow_1069_automate_mqtt_httprequest_cron.json",
    "business_value": "Provides utility functions and general automation capabilities by connecting mqtt, httprequest, cron. This is a streamlined workflow for efficient automation",
    "trigger_type": "cron",
    "complexity_score": 8,
    "total_nodes": 4,
    "metadata_added": "2025-06-01T14:03:46.225435",
    "original_filename": "1069_workflow_1069.json"
  },
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        490,
        360
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        690,
        360
      ],
      "parameters": {
        "url": "https://api.wheretheiss.at/v1/satellites/25544/positions",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "timestamps",
              "value": "={{Date.now()}}"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        890,
        360
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"0\"][\"name\"]}}"
            },
            {
              "name": "Latitude",
              "value": "={{$json[\"0\"][\"latitude\"]}}"
            },
            {
              "name": "Longitude",
              "value": "={{$json[\"0\"][\"longitude\"]}}"
            },
            {
              "name": "Timestamp",
              "value": "={{$json[\"0\"][\"timestamp\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "MQTT",
      "type": "n8n-nodes-base.mqtt",
      "position": [
        1090,
        360
      ],
      "parameters": {
        "topic": "iss-position",
        "options": {}
      },
      "credentials": {
        "mqtt": "mqtt"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "MQTT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}